header {
  display: flex;
  // background-image: url("../img/hero.webp");
  .header-logo {
    width: 161px;
    height: 17px;
  }
  .header-nav {
    display: block;
    a {
      color: #000;
    }
  }
}