@use "../foundation/_base.scss" as *;

.l-header {
  display: flex;
  position: fixed;
  height: 86px;
  width:100%;
  justify-content: space-between;
  align-items:center;
  .l-header-nav {
    display: flex;
    .l-header-list {
      display: flex;
      margin-left: 25px;
    }
  }
}